@import 'components/components';
@import 'components/containers';
@import 'components/nav';
@import 'components/buttons';

.flow {
  > * + * {
    margin-top: 1rem;
  }
}

.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}
.mt-7 {
  margin-top: 7rem;
}
.mt-9 {
  margin-top: 9rem;
}
.mt-10 {
  margin-top: 10rem;
}
