@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
  --fs-300: 0.9rem;
  --fs-400: 0.9rem;
  --fs-500: 0.9rem;
}

html {
  font-size: 18px;
  font-family: 'Bai Jamjuree', sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  color: $Dark-Grayish-Blue;
  line-height: 1.25;
}

h1,
.h1 {
  font-size: 1.75rem;
}

p {
  color: $Grayish-Blue;
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}
