// ## Colors

// ### Primary

$Strong-Cyan-300: hsl(171, 66%, 54%);
$Strong-Cyan: hsl(171, 66%, 44%);
$Strong-Cyan-500: hsl(171, 66%, 34%);
$Light-Blue-300: hsl(233, 100%, 79%);
$Light-Blue: hsl(233, 100%, 69%);
$Light-Blue-500: hsl(233, 100%, 59%);

// ### Neutral

$Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Grayish-Blue: hsl(201, 11%, 66%);
