.header {
  &-logo {
    margin-inline: auto;
  }

  text-align: center;

  h1 {
    margin-top: 4.25rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    z-index: -1;

    background-image: url(../images/bg-header-mobile.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

section,
article {
  text-align: center;
}

.box {
  text-align: center;

  &:first-child {
    margin-top: 3rem;
  }

  & + & {
    margin-top: 2.75rem;
  }

  p {
    margin-top: 0.9rem;
  }

  &--img-top {
    img {
      margin-inline: auto;
      margin-bottom: 2.5rem;
    }
  }
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.footer {
  margin-top: 10rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  background-color: $Grayish-Blue-200;

  img {
    width: 55px;
  }

  svg {
    cursor: pointer;

    &:hover,
    &:focus {
      path {
        fill: $Strong-Cyan;
      }
    }
  }
}

.social-links {
  display: flex;
  gap: 2rem;
}

@include mq($break-point-md) {
  .img-boxes {
    align-items: start !important;
  }

  .box {
    flex: 1 1 33.33%;

    margin-top: 0 !important;

    img {
      height: 40px;
    }
  }

  .logos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@include mq($break-point-lg) {
  .header {
    &::before {
      background-image: url(../images/bg-header-desktop.png);
    }
  }

  .hero {
    justify-content: start !important;
    gap: 5rem !important;

    &-img {
      flex: 1 1 60%;
      margin-left: -30px;
    }

    &-boxes {
      flex: 1 1 40%;
    }
  }

  .box {
    max-width: 335px;
    text-align: left;
  }

  .footer {
    .flex-md {
      justify-content: space-between !important;
    }
  }
}
