.main-container {
  width: max(315px, 79vw);
  margin-inline: auto;
  padding-top: 120px;
}

.flex-md {
  .btn + .btn {
    margin-top: 1.5rem;
  }
}

@include mq($break-point-md) {
  .flex-md {
    display: flex;
    align-items: center;
    gap: 1rem;

    .btn + .btn {
      margin: 0;
    }
  }
}
