.main-container {
  width: max(315px, 79vw);
  margin-inline: auto;
  padding-top: 120px;
}

.flex-md {
  .btn + .btn {
    margin-top: 1.5rem;
  }
}

@include mq($break-point-md) {
  .flex-md {
    display: flex;
    align-items: center;
    gap: 1rem;

    .btn + .btn {
      margin: 0;
    }
  }
}

@include mq($break-point-lg) {
  .main-container {
    width: min(1440px, 100%);
    padding-bottom: 30px;
    overflow: hidden;
  }
  .container {
    width: min(1110px, 90vw);
    margin-inline: auto;
  }

  .px-lg-1 {
    padding-inline: 190px;
  }

  .flex-md {
    justify-content: center;
  }
}

@include mq($break-point-lg) {
  .img-container {
    img {
      margin-inline: auto;
    }
  }

  .img-boxes,
  .logos {
    justify-content: space-between;
  }

  .box--img-top {
    text-align: center;
  }
}
